/*font*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pacifico&display=swap');

/*all*/
html, body {
  background:url('img/back.jpg') repeat;
  color:#4a3834;
}


/*sec_01*/
#sec_01 p {font-size:60px; text-align:center; font-family: "Pacifico", cursive;}
