/*font*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+KR:wght@100..900&family=Pacifico&display=swap')

.noto {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lb_r {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.lb_b {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.lb_r_i {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.pr {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/*all*/
html, body {
  width:100%;
  height:100%;
  overflow:hidden;
  background:url('img/back.jpg') repeat;
  color:#4a3834;
}

div, h1, h2, h3, h4, p, b, li, ul, li {
  padding:0;
  margin:0;
}

/*sec_01*/
#sec_01 {width:100%; height: 100vh; display: table; text-align:center;}
#sec_01 .center {display: table-cell; vertical-align: middle;}
#sec_01 p {width:100%; font-size:60px;}
#sec_01 h2 {width:100%; font-size:80px; line-height:90px; opacity:0.2;}
